ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#chat-container {
    box-shadow: 0 0 3px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
}
#message-container {
    box-shadow: 0 0 5px;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.main {
    margin-left: 160px;
    padding: 0px 10px;
}