{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Chat Room{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/chat">Chat</a>
        <a href="/chat/search">Search</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="main">
        <div class='container'>
            <div class='row border-bottom my-3 py-3'>
                <div class='col'>
                    {% block header %}

                    {% endblock %}
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
            {% include 'js.html' %}
            {% block script %}
            {% endblock %}
    </div>
</body>
</html>